footer.footer
    .container
        .row 
            .col-12.d-flex.flex-column.justify-content-center.align-items-center
                h5 
                    b SÍGUENOS

                .footer--redes 
                    a.text-decoration-none(href="https://twitter.com/mundofuturo_", target="_blank", rel="noopener noreferrer") 
                        img.img-fluid(src="img/twitter.svg", alt="Twitter Mundo Futuro")
                    
                    a.text-decoration-none(href="https://open.spotify.com/show/5ZldFoVYM0Orm9ai06t0o4?si=IsEvOWeiSFyA8i04zbtOHQ&dl_branch=1", target="_blank", rel="noopener noreferrer")
                        img.img-fluid(src="img/spotify-logo.svg", alt="Spotify Mundo Futuro")
                    
                    a.text-decoration-none(href="https://podcasts.apple.com/cr/podcast/mundo-futuro/id1569244095?l=en", target="_blank", rel="noopener noreferrer")
                        img.img-fluid(src="img/podcast.svg", alt="Apple Podcast Mundo Futuro")

                h6 COPYRIGHT 2021 MUNDO FUTURO | SONORO

