header.header
    .container-fluid
        .row
            .col-6.header--logo
                a(href="../") 
                    img.img-fluid(src="img/logo.svg", alt="Mundo Futuro")
                
            .col-6.header--navegacion.d-flex
                .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')

                nav.navbar-expand-lg
                        
                    .collapse.navbar-collapse#navbarNav
                        img.img-fluid#logo(src="img/logo.svg", alt="Mundo Futuro")

                        ul
                            
                            li#li-s1 
                                a.text-decoration-none(href="index.html#bios") BIOS

                            li#li-s2 
                                a.text-decoration-none(href="episodios.html") EPISODIOS
                        
                            li#li-s3 
                                a.text-decoration-none(href="index.html#contacto") CONTACTO

                            .nav--redes 
                                a.text-decoration-none(href="https://twitter.com/mundofuturo_", target="_blank", rel="noopener noreferrer") 
                                    img.img-fluid(src="img/twitter.svg", alt="Twitter Mundo Futuro")
                                
                                a.text-decoration-none(href="https://open.spotify.com/show/5ZldFoVYM0Orm9ai06t0o4?si=IsEvOWeiSFyA8i04zbtOHQ&dl_branch=1", target="_blank", rel="noopener noreferrer")
                                    img.img-fluid(src="img/spotify-logo.svg", alt="Spotify Mundo Futuro")
                                
                                a.text-decoration-none(href="https://podcasts.apple.com/cr/podcast/mundo-futuro/id1569244095?l=en", target="_blank", rel="noopener noreferrer")
                                    img.img-fluid(src="img/podcast.svg", alt="Apple Podcast Mundo Futuro")
                            
                            