.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &.nav-on{
    
        .btn{
            background-image: url('../img/BtnClose.svg');
        }

        nav{
            #navbarNav{
                right: 0;

                &::before{
                    display: block;
                }
            }

        }
    }

    &.sup{
        nav{
            #navbarNav{
                &::before{
                    opacity: 1;
                }
            }

        }
    }

    &.activo{
        .header--logo{
            opacity: 1;
        }
    }
    
    &--logo{
        padding: 30px;
        transition: .6s ease-in-out all;
        opacity: 0;
        
        img{
            cursor: pointer;
            width: 100%;
            max-width: 120px;
        }
        
    }

    &--navegacion{
        justify-content: flex-end;
        padding: 30px;
        z-index: 1;

        .btn{
            width: 40px;
            height: 40px;
            background: url("../img/BtnHam.svg") no-repeat center / contain;
            z-index: 9;
            position: relative;
            transition: .2s ease-in-out all;
        }

        nav{
            #navbarNav{
                position: absolute;
                width: 100%;
                top: 0;
                right: -100%;
                background: url('../img/lineas.svg') no-repeat center top / cover var(--negro);
                height: 100vh;
                transition: .6s ease-in-out all;

                &.show{
                    display: flex !important;
                }

                &::before{
                    content: "";
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(140, 95, 167, 0.5);
                    backdrop-filter: blur(5px);
                    z-index: -1;
                    opacity: 0;
                    display: none;
                    transition: .6s ease-in-out all;
                }
                
               
                #logo{
                    max-width: 100px;
                    z-index: 9;
                    position: absolute;
                    top: 30px;
                    left: 30px;
                    
                }

                ul{
                    padding: 0;
                    list-style: none;
                    width: 100%;
                    transition: .2s ease-in-out all;

                    li{
                        color: var(--blanco);
                        font-size: var(--h2);
                        margin-bottom: 30px;
                        text-align: center;
                        cursor: pointer;
                        transition: .2s ease-in-out all;

                        &:hover{
                            // transform: rotateZ(360deg);
                            color: var(--tercero);
                        }
                    }

                    a{
                        color: inherit;
                    }
                }

                .nav--redes {
                    text-align: center;
                    width: 100%;
                    margin-top: 50px;
                    
                    a:hover img{
                        filter: drop-shadow(0px 0px 10px rgba(173, 41, 255, 0.9));
                    }

                    img{
                        width: 100%;
                        max-width: 35px;
                        margin: 0 15px;
                        transition: .2s ease-in-out all;
                    }
                }
            }
        }
    }    
}

/// MOBILE
@media (max-width:992px) {
    .header{

        &--logo{
            padding: 15px;

            img{
                max-width: 100px;
            }
        }

        &--navegacion{
            padding: 15px;

          
            nav #navbarNav{
                width: 100vw;
                right: 0;
                overflow: hidden;
                height: 0;
                display: flex;
            }
        }

        &.nav-on{
            nav #navbarNav{
                height: 100vh !important;
            }
        }
    }
}

